body {
  margin: 0;
  font-family: 'Comfortaa', cursive, -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: url(https://picsum.photos/id/119/800/500?blur=3) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  object-fit: cover;

  
}
 
 
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.table {
  margin: 20px;
  
  
}

/* .today {
  background-color: red;
  color: #fff;
} */

.in-prev-month,
.in-next-month {
  opacity: 0.5;
}

.select{
  border-radius: 5px;
}
.select-red{
  background-color: red;
}